---
layout: default
title: Home
---
<div class="well">
	<ul>
		<li>POZOR, amatérské pokusy o poetično</li>
		<li>nevydávám je za umělecká díla</li>
		<li>neposkytuji záruku na jejich kvalitu</li>
		<li>zříkám se odpovědnosti za případné následky na čtenářích</li>
		<li>vše, co v této sekci najdete, smíte šířit a/nebo upravovat dle vlastního uvážení, ve smyslu licence <a href="http://www.wtfpl.net/">WTFPL</a></li>
		<li>při žádném z následujících <span class="badge badge-success">{{ site.tags.poem | size }}</span> výronů tvořivosti nezemřelo ani netrpělo žádné zvíře</li>
	</ul>
	<p>
		Sincerely yours,<br>
		adrenaline fan, avionics engineer, bodyguard, boxer, business/general/project/technical/release
		manager, climber, engineer of military radars and guidance computers, gardener, horseman,
		joiner, mason, network/server administrator, poet, real-estate agent, roofer, scuba diver,
		skid steer loader engineman, software architect/developer, songster, system integrator,
		tramp, truck driver, UN soldier, worker at heights...
	</p>
</div>

{% for post in site.tags.poem %}
<article id="{{ post.slug }}">
	<h2>{{ post.title }} <a class="headerlink" title="Permanentní odkaz na tento nadpis" href="#{{ post.slug }}">¶</a></h2>
	<pre>{{ post.content }}</pre>
	<p>{{ post.date | date_to_string }}</p>
	{% if post.published %}<div class="alert alert-success"><a target="_blank" href="{{ post.published }}" title="Publikováno">{{ post.published }}</a></div>{% endif %}
	{% if post.extlink %}<div class="alert alert-info"><a target="_blank" href="{{ post.extlink }}" title="Související informace">{{ post.extlink }}</a></div>{% endif %}
	{% if post.tags contains 'noauthor' %}<div class="alert alert-warning">Převzato, autor neznámý.</div>{% endif %}
</article>
{% endfor %}
