---
layout: default
---
{% assign post_cnt = site.tags.poem | size %}
<div class="well" id="well">
	<ul>
		<li>POZOR, amatérské pokusy o poetično</li>
		<li>nevydávám je za umělecká díla</li>
		<li>neposkytuji záruku na jejich kvalitu</li>
		<li>zříkám se odpovědnosti za případné následky na čtenářích</li>
		<li>vše, co v této sekci najdete, smíte šířit a/nebo upravovat dle vlastního uvážení, ve smyslu licence <a href="http://www.wtfpl.net/">WTFPL</a></li>
		<li>při žádném z následujících <span class="badge badge-success">{{ post_cnt }}</span> výronů tvořivosti nezemřelo ani netrpělo žádné zvíře</li>
	</ul>
	<p>
		Sincerely yours,<br>
		{{ site.keywords | join: ', ' }}...
	</p>
</div>

<div class="pagination-switch pull-right">
	<a rel="all" href="#/all" title="Zobrazit vše na jedné stránce">zobrazit vše</a>
	<a rel="one" href="#/one" title="Listovat po jednotlivých záznamech">listovat</a>
</div>

{% for post in site.tags.poem %}
<article id="{{ post.slug }}">
	<h2>{{ post.title }} <a class="headerlink" title="Permanentní odkaz na tento nadpis" href="#{{ post.slug }}">¶</a></h2>
	<pre>{{ post.content }}</pre>
	<p>{{ post.date | date_to_string }}</p>
	{% if post.published %}<div class="alert alert-success"><a target="_blank" href="{{ post.published }}" title="Publikováno">{{ post.published }}</a></div>{% endif %}
	{% if post.extlink %}<div class="alert alert-info"><a target="_blank" href="{{ post.extlink }}" title="Související informace">{{ post.extlink }}</a></div>{% endif %}
	{% if post.tags contains 'noauthor' %}<div class="alert alert-warning">Převzato, autor neznámý.</div>{% endif %}
	<p class="counter" style="display:none"><a rel="prev" title="Předchozí" href="#"></a> <span>{{ forloop.rindex }}/{{ post_cnt }}</span> <a rel="next" title="Další" href=""></a></p>
</article>
{% endfor %}
