---
layout: default
title: Poetry (Czech)
description: Poetry in Czech language
tags:
 - section
---
<div class="page-header">
	<h1>Poezie</h1>
</div>
<div class="well">
	<ul>
		<li>jedná se pouze o <strong>amatérské pokusy</strong> o poetično</li>
		<li>nevydávám je za umělecká díla</li>
		<li>neposkytuji záruku na jejich kvalitu</li>
		<li>zříkám se odpovědnosti za případné následky na čtenářích</li>
		<li>vše, co v této sekci najdete, smíte šířit a/nebo upravovat dle vlastního uvážení, ve smyslu licence <a href="http://sam.zoy.org/wtfpl/">WTFPL</a></li>
		<li>při žádném z mých <span class="badge badge-success">{{ site.tags.poem | size }}</span> výronů tvořivosti nezemřelo ani netrpělo žádné zvíře</li>
	</ul>
</div>
{% for post in site.tags.poem %}
<article id="{{ post.slug }}">
<h2>{{ post.title }} <a class="headerlink" title="Permanentní odkaz na tento nadpis" href="#{{ post.slug }}">¶</a></h2>
<pre>{{ post.content }}</pre>
{% if post.tags contains 'noauthor' %}<div class="alert alert-info">Převzato, autor neznámý.</div>{% endif %}
{% if post.extlink %}<div class="alert alert-info"><a href="{{ post.extlink }}" title="Související informace">{{ post.extlink }}</a></div>{% endif %}
</article>
{% endfor %}
