	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="/">{{ site.main_title }}</a>
				<div id="pagination" class="pagination">
					<a class="brand" rel="prev" href="#">&laquo;</a>
					<a class="brand" rel="next" href="#">&raquo;</a>
				</div>
				<div class="nav-collapse collapse" aria-expanded="false" style="height: 1px;">
					<form class="navbar-search pull-left" action="">
						<input id="search-poems" class="search-query" type="text" placeholder="Hledat podle názvu...">
					</form>
				</div>
			</div>
		</div>
	</div>
