body,
article {
	padding-top: 50px;
}
.headerlink {
	display: none;
}
h1:hover .headerlink,
h2:hover .headerlink,
h3:hover .headerlink,
h4:hover .headerlink,
h5:hover .headerlink,
h6:hover .headerlink {
	display: inline;
	margin: 0 0 0 5px;
	font-size: 80%;
	padding: 0;
	line-height: normal;
}

#pagination, .pagination-switch {
	display: none;
}
