body {
	min-height: 75rem;
	padding-top: 4.5rem;
}
article {
	padding-top: 2rem;
}
.headerlink {
	display: none;
}
h1:hover .headerlink,
h2:hover .headerlink,
h3:hover .headerlink,
h4:hover .headerlink,
h5:hover .headerlink,
h6:hover .headerlink {
	display: inline;
	margin: 0 0 0 5px;
	font-size: 80%;
	padding: 0;
	line-height: normal;
}
.pagination-switch {
	display: none;
}
