<!DOCTYPE html>
<html lang="{% if page.categories[0] == 'poetry' %}cs{% else %}en{% endif %}">
<head>
{% include meta.html %}
	<link href="/assets/css/all.css" rel="stylesheet">
	<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
{% include navigation.html %}
<div class="container">
	{{ content }}
{% include footer.html %}
</div>
<script src="/assets/js/all.js"></script>
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-31100289-1']);
	_gaq.push(['_trackPageview']);
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
</body>
</html>