<!DOCTYPE html>
<html lang="{% if page.categories[0] == 'poetry' %}cs{% else %}en{% endif %}">
<head>
{% include meta.html %}
	<link href="/assets/css/libs.css" rel="stylesheet">
	<link href="/assets/css/site.css" rel="stylesheet">
	<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
{% include gaq.html %}
</head>
<body>
{% include navigation.html %}
<div class="container" id="container">
	{{ content }}
{% include footer.html %}
</div>
<script src="/assets/js/libs.js"></script>
<script src="/assets/js/site.js"></script>
{% include ga.html %}
</body>
</html>