---
layout: base
---
{% include navigation.html %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span4">
{% include poems/navigation.html %}
		</div>
		<div class="span8">
{% include poems/pager.html %}

<div class="page-header">
	<h1>{{ page.title }}</h1>
</div>
<pre>{{ content }}</pre>

		</div>
	</div>
	<hr>
	<footer>
		<p>
			&copy; 2008 - {{ site.time | date: '%Y' }} Lubomír Štork
			<span class="pull-right">
				Uvolněno pod licencí <a href="http://sam.zoy.org/wtfpl/">WTFPL</a>.
			</span>
		</p>
	</footer>
</div>
<script src="/assets/js/all.js"></script>
